*{
  margin: 0;
  padding: 0;
  
}

.crousal{
  padding: 5rem;

}

.card {

  height: 500px;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.4s;
  margin-right: 10px;
}


.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 80px;
}


.card:hover {
  transform: scale(0.9, 0.9);
  
}
.card:hover img {
  background-color: rgb(99, 99, 99);
  opacity: 0.3;
}
.card:hover .card_title {
  background-color: black;
  opacity: 0.8;
  border-radius: 0px 0px 40px 40px ;
}

.title-white {
  
  color: white;
}
.slick-slide div{
  margin-right: 10px !important;
} 
.slick-dots li button::before{
  font-size: 1.5rem !important;
  top: 2rem !important;
}



